* {
    background: #2a095f;
    color: white;
    font-family: "Burbank Big Condensed Black";
}

.routes {
    margin: 10px;    
}

span:hover {
    cursor: default;
}

.routes:hover {
    cursor: pointer;
    color: #f0ed07;
}